@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,display=swap');

:root {
  --body-color: 48 48 58;

  --font-color: 255 255 255;
  --highlight-color: 0 0 0;

  --theme-background: 20 20 20;

  --theme-light: 0 0 0;
  --theme-medium: 0 0 0;
  --theme-dark: 0 0 0;
}

* {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

body {
  background-color: rgb(var(--body-color));
  margin: 0px;
  padding: 0px;
}

.nav-bar {
  padding: 8px;
  display: flex;
  gap: '20px';
  align-items: center;
  justify-content: flex-end;
}

.nav-bar>.nav-items>a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin-left: 15px;
  text-decoration: none;
  color: #FFF;
  line-height: 24px;
  font-size: 14px;
}

.nav-bar>.nav-items>a:is(:hover, :focus) {
  padding: 5px;
  background-color: #000;
  text-decoration: underline;
  border-radius: 5px;
}

.nav-bar>.nav-items>.expand-button {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.nav-bar>.nav-items>.expand-button:is(:hover, :focus) {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-bar>.nav-items>.expand-button>svg {
  width: 24px;
  height: 24px;
}

.expand-tooltip {
  line-height: 24px;
  padding: 0px 5px;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  background-color: #000;
  width: fit-content;
  font-size: 14px;
  border-radius: 5px;
  position: absolute;
  right: 14px;
  top: 60px;
  display: none;
  white-space: pre-wrap;
}

.nav-bar>.nav-items>.avatar>img {
  border-radius: 50%;
  display: block;
  margin: 0px;
  height: 32px;
  width: 32px;
}

.nav-bar>.nav-items>.avatar {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar>.nav-items>.avatar:hover {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.expand-wrapper {
  width: 345px;
  height: 450px;
  position: absolute;
  right: 16px;
  background-color: #1E1E24;
  border-radius: 28px;
  border: none;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, .15), 0 1px 3px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  padding: 8px;
  width: 344px;
  margin: 3px auto;
  overflow: hidden;
  display: none;
}

.expand-wrapper>.expand-menu {
  border-radius: 24px;
  background-color: rgb(var(--body-color));
  padding: 30px;
  position: relative;
}

.expand-wrapper>.expand-menu>ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 373px;
  flex-wrap: wrap;
  margin: 0px;
  gap: 10px;
  padding: 0px;
  overflow-y: scroll;
}

.dropdown-tooltip {
  position: absolute;
  line-height: 24px;
  padding: 0px 5px;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  background-color: #000;
  width: fit-content;
  font-size: 14px;
  border-radius: 5px;
  display: none;
}

.expand-wrapper>.expand-menu>ul>li {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255 255 255 / 10%);
  border-radius: 15px;
}

.expand-wrapper>.expand-menu>ul>li>a>img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: block;
}

.search-container {
  display: block;
  box-sizing: border-box;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 1%;
}

.search-container>.gif-container {
  position: relative;
  background-color: #000;
  border-radius: 0.4rem;
  margin-bottom: 0.2rem;
}

.search-container>.gif-container>img {
  width: 100%;
  height: 200px;
  object-fit: none;
  object-position: center;
  background-size: cover;
}

.search-container>.gif-container>.avatar-container {
  position: absolute;
  top: 90px;
  right: 20px;
  padding: 5px;
  background-color: #FFF;
  border-radius: 50%;
}

.search-container>.gif-container>.avatar-container>img {
  height: 80px;
  border-radius: 50%;
}

.search-container>.search-input-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.search-container>.search-input-wrapper>.search-input-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: rgb(255 255 255 / 10%);
  padding-left: 1rem;
  border-radius: 0.4rem;
  width: 85%;
}

.search-container>.search-input-wrapper>.search-input-container>input {
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  padding: 16px;
  padding-left: 0rem;
  border: none;
  outline: none;
  color: #FFF;
  width: 100%;
}

.search-container>.search-input-wrapper>.search-input-container>input:focus {
  outline: none;
}

.search-container>.search-input-wrapper>.mic-button {
  background-color: rgb(255 255 255 / 10%);
  background-image: url('/public/icons/microphone.png');
  border: none;
  background-repeat: no-repeat;
  width: 50px;
  background-position: 50% 50%;
  background-size: auto;
  background-size: auto 20px;
  border-radius: 0.4rem;
}

.search-container>.search-input-wrapper>.camera-button {
  background-color: rgb(255 255 255 / 10%);
  background-image: url('/public/icons/camera.png');
  border: none;
  background-repeat: no-repeat;
  width: 50px;
  background-position: 50% 50%;
  background-size: auto;
  background-size: 30px 30px;
  border-radius: 0.4rem;
}

.app-container {
  margin: 3rem 0rem;
  padding-left: 30%;
  padding-right: 30%;
}

.app-container>ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;
  margin: 0px;
  padding: 0px;
}

.app-container>ul>li {
  flex: 40%;
  background-color: rgb(255 255 255 / 10%);
  padding: 1rem 0.75rem;
  border-radius: 0.4rem;
  text-decoration: none;
}

.app-container>ul>li:is(:hover, :focus) {
  background-color: rgb(255 255 255 / 16%);
}

.app-container>ul>li>a {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.app-container>ul>li>a>div>h4 {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 12.8px;
  line-height: 17.6px;
  color: #FFF;
}

.app-container>ul>li>a>div>p {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 11.8px;
  line-height: 15.2px;
  color: rgb(255 255 255 / 50%);
}

.app-container>ul>li>a>img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}