.container {
    display: flex;
    flex-flow: row wrap;
}

.container > * {
    padding: 0px;
    margin: 0PX;
    box-sizing: border-box;
}

.logo {
    flex: 15%;
    font-weight: 600;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    flex-end
    
}