.container {
    display: flex;
    flex-flow: row wrap;
    background-color: #df6609;
}

.container > * {
    padding: 0px;
    margin: 0PX;
    box-sizing: border-box;
}

.logo {
    flex-basis: 15%;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
}

.logo > img {
    width: 50px;
}

.logo > a {
    text-decoration: none;
    font-size: 20px;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar > nav {
    flex: 100%;
    text-align: left;
}

.nav-bar > nav ul {
    display: inline-block;
    list-style-type: none;
}

.nav-bar > nav ul li{
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
}

.nav-bar > nav ul li a{
    text-decoration: none;
    border-bottom-style: none;
}

.nav-bar > nav ul li:hover{
    background-color: #b34f03;
}

.nav-bar > nav ul li form input {
    height: 35px;
    border-radius: 10px;
    margin-right: 5px;
}

.nav-bar > nav ul li form button {
    height: 35px;
    border-radius: 10px;
    border-style: none;
    font-weight: 600;
    color: #fff;
    background: #984200;
}

.nav-bar > nav ul li form button:hover {
    background: #984200;
}
