
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-top; 
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1330px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.register-container {
    max-width: 1330px;
    margin: auto;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.nav-bar > nav {
    flex: 100%;
    text-align: right;
}

.nav-bar > nav ul {
    display: inline-block;
    list-style-type: none;
}

.nav-bar > nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.nav-bar > nav ul li a{
    text-decoration: none;
    color: #555;
    border-bottom-style: none;
}
.nav-bar > nav ul li a:hover {
    padding-bottom: 10px;
    border-bottom-style: solid;
}

.nav-bar > .cart:hover {
    filter: invert(50%);
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 70%;
    padding: 50px 0;
    margin-left: 50px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 70px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background: #ff532b;
    color: #fff;
    padding: 10px 30px;
    margin: 30px 0px;
    border-radius: 20px;
}

.header {
    background: radial-gradient(#fff, #bdb2b2);
}

.header .row {
    margin-top: 10px;
}

.btn:hover {
    background: #6d1e1e;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 25%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.sub-container {
    max-width: 1080px;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;

}

.title {
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    position: relative;   
    line-height: 60px;
    color: #555;
}

.col-4 {
    flex-basis: 25%;
    min-width: 200px;
    margin-bottom: 50px;
    margin-right: -50px;
    padding: 10px;
}

.col-4:hover {
    transform: scale(1.1);
}

.col-4 > img {
    width: 80%;
}

.title::after {
    content: '';
    background-color: #ff532b;
    width: 80px;
    height: 8px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.offer{
    background: radial-gradient(#fff, #bdb2b2);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

.review {
    padding-top: 100px;
}

.review .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.review .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.review .col-3:hover {
    transform: translateY(-10px);
}

.col-3 > p {
    font-size: 12px;
    margin: 12 0;
    color: #555;
}

.review .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
} 

.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 > img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 > img:hover {
    filter: grayscale(0);
}

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 60px 0 20px;
    margin-top: 30px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    margin-bottom: 20px;
    color: #fff;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30px;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 > img{
    width: 180px;
    margin: 35px 0px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

.footer-col-3 ul, .footer-col-4  ul {
    list-style: none;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

.single-product {
    margin-top: 80px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff532b;
}

.single-product .fa {
    color: #ff532b;
    margin-left: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 25%;
    cursor: pointer;
}

.small-img-col img {
    margin: 0px 0px 0px -5px;
    padding: -50px 0px;
}

.cart-page {
    margin: 60px auto;
    border: 1px solid black;
    padding: 20px;
    box-shadow: rgba(123, 123, 123, 0.81);
    border-radius: 20px;
    background: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: center;
    padding: 5px;
    color: #fff;
    background-color: #ff532b;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #ff532b;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price > table {
    border-top: 3px solid #ff532b;
    width: 100%;
    max-width: 350px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

@media only screen and (max-width: 880px) {

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-bar > nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        margin-top: 40px;
        opacity: 0.8;
        overflow: hidden;
    }

    .nav-bar > nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nav-bar > nav ul li a {
        color: #fff;
    }
}

.row-2 {
    justify-content: space-between;
    margin: 50px auto 50px;
}

select {
    border: 1px solid #ff532b;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn > span {
    display: inline-block;
    border: 1px solid #ff532b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn > span:hover{
    background: #ff532b;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }
    .col-2, .col-3, .col-4 {
        flex-basis: 100%;
    }
    .single-product .row {
        text-align: left;
    }
    .single-product .col-2 {
        padding: 20px 0;
    }
    .single-product h1 {
        font-size: 26px;
        line-height: 22px;
    }
    .cart-info p {
        display: none;
    }
}

.register {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 500px;
	max-width: 100%;
    padding-bottom: 30px;
}

.register h2 {
    text-align: center;
    margin-top: 30px;
}

.register a {
   text-decoration: none;
   margin-left: 40px;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
    display: flex;
    flex-direction: column;
}

.form-control label {
    flex-basis: 100%;
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
    flex-basis: 100%;
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 14px;
	padding: 10px;
	width: 95%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #ad6c44;
	border: 2px solid #ad6c44;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}

.form button:hover {
    color: #555;
    background-color: #e8c1a9;
} 

.search-bar {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
    z-index: 101;
}

.search-input {
    width: 90%;
    border-bottom: 2px solid #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}

.search-bar input {
    width: 100%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0px 20px;
}

.search-cancel {
    color: #272727;
    font-size: 2rem;
    padding-right: 40px;
}

.search-cancel:hover {
    color: #ff532b;
}
.nav-bar .search-icon {
    font-size: 20px;
    margin-left: 20px;
    color: #ff532b;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-image: linear-gradient( to right, rgb(255, 174, 0), rgb(255, 89, 0));
    color: white;
    margin-bottom: 50px;
}

.about-sub-container {
    max-width: 1080px;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
}

.about-sub-container .row .col-3 {
    border-radius: 20px;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

.about-sub-container .row .col-3 img {
    margin-top: 10px;
    border-radius: 20px;
}

.about-sub-container .row .col-3 h3 {
    text-align: center;
    color: #ff532b;
}

.about-sub-container .row .col-3:hover {
    transform: scale(1.1);
    
}


.contain {
  background-color: #eee;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

div.form {
  background-color: #eee;
}
.contact-wrapper {
  margin: auto 0;
}

.submit-btn {
  float: left;
}
.reset-btn {
  float: right;
}

.form-headline:after {
  content: "";
  display: block;
  width: 10%;
  padding-top: 10px;
  border-bottom: 3px solid #ec1c24;
}

.highlight-text {
  color: #ec1c24;
}

.hightlight-contact-info {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
}

.highlight-text-grey {
  font-weight: 500;
}

.email-info {
    margin-top: 20px;
}

.required-input {
  color: black;
}

@media (min-width: 600px) {
  .contain {
    padding: 0;
  }
}

h3,
ul {
  margin: 0;
}

h3 {
  margin-bottom: 1rem;
}

.form-input:focus,
textarea:focus{
  outline: 1.5px solid #ec1c24;
}

.form-input,
textarea {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.wrapper > * {
  padding: 1em;
}
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .wrapper > * {
    padding: 2em 2em;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.contacts {
  color: #212d31;
}

.form {
  background: #fff;
}

form {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

form label {
  display: block;
}
form p {
  margin: 10px 0px;
  width: 100%;
}

.full-width {
  grid-column: 1 / 3;
}

button,
.submit-btn,
.form-input,
textarea {
  padding: 1em;
}

button, .submit-btn {
  background: transparent;
  border: 1px solid #ec1c24;
  color: #ec1c24;
  border-radius: 15px;
  padding: 5px 20px;
  text-transform: uppercase;
}
button:hover, .submit-btn:hover,
button:focus , .submit-btn:focus{
  background: #ec1c24;
  outline: 0;
  color: #eee;
}
.error {
  color: #ec1c24;
}

.pay-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pay-wrapper {
    flex-basis: 80%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    align-items: center;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 30px 0px;
    background: #fff;
}

.pay-flex .pay-wrapper h2 {
    text-align: center;
    padding: 15px 0px;
    color: #ff532b;
}

.pay-flex .pay-wrapper .input-group {
    display: flex;
    flex-direction: column;
}

.pay-flex .pay-wrapper .input-group .input-box h4 {
    color: #fb0000;
}

.pay-flex .pay-wrapper .input-group .input-box {
    flex: 100%;
    margin-left: 40px;
}

.pay-flex .pay-wrapper .input-group .input-box input[type = text], input[type = email], input[type = date], input[type = tel] {
    width: 90%;
    margin: 10px 0px;

}

.pay-flex .pay-wrapper .input-group .input-box input[type = radio] {
    margin-right: 50px;
}

.pay-flex .pay-wrapper .input-group .input-box select {
    margin: 10px 0px;
    width: 40%;
}

.pay-flex .pay-wrapper .input-group .input-box .fa-cc-visa {
    color: blue;
    margin-right: 5px;
    font-size: 20px;
}

.pay-flex .pay-wrapper .input-group .input-box .fa-cc-paypal {
    color: red;
    margin-right: 5px;
    font-size: 20px;    
}

.pay-wrapper:hover {
    transform: scale(1.05);
}

.pay-wrapper button[type = submit]:hover {
    color: #ff532b;
    background: #bdb2b2;
} 